[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = {version="==1.2.0", index="pypi"}
torch = {version="==2.10.0", index="pypi"}
pandas = {version="==3.0.1", index="pypi"}
python-dotenv = {version="==1.2.1", index="pypi"}
huggingface-hub = {version="==1.4.1", index="pypi"}
transformers = {version="==5.2.0", index="pypi"}
peft = {version="==0.18.1", index="pypi"}
bitsandbytes = {version="==0.49.2", index="pypi"}
matplotlib = {version="==3.10.8", index="pypi"}

[requires]
python_version = "3.12"
